<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 引入Spring Boot中的 Logback预定义配置 -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="META-INF/config/logback/common.xml" />

	<!-- App logger -->
	<logger name="${APP_LOG_NAME}" level="${APP_LOG_LEVEL}" additivity="${APP_LOG_ADDITIVITY}">
		<appender-ref ref="${APP_NAME}.app" />
	</logger>

	<!-- Root logger -->
	<root level="${CONSOLE_LOG_LEVEL}">
		<appender-ref ref="${CONSOLE_APPENDER}" />
	</root>

	<!-- Include other logging config files -->
	<!--<include resource="META-INF/config/logback/module.xml" />-->
	<!--/ Include -->

</configuration>
