<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.mail.chronos.executor.support.mapper.SpRtTaskInstanceMapper">

    <resultMap id="BaseResultMap" type="com.netease.mail.chronos.executor.support.entity.SpRtTaskInstance">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="customId" column="custom_id" jdbcType="BIGINT"/>
            <result property="param" column="param" jdbcType="VARCHAR"/>
            <result property="extra" column="extra" jdbcType="VARCHAR"/>
            <result property="expectedTriggerTime" column="expected_trigger_time" jdbcType="BIGINT"/>
            <result property="actualTriggerTime" column="actual_trigger_time" jdbcType="BIGINT"/>
            <result property="finishedTime" column="finished_time" jdbcType="BIGINT"/>
            <result property="runningTimes" column="running_times" jdbcType="INTEGER"/>
            <result property="maxRetryTimes" column="max_retry_times" jdbcType="INTEGER"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="enable" column="enable" jdbcType="TINYINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,custom_id,
        param,extra,expected_trigger_time,
        actual_trigger_time,finished_time,running_times,
        max_retry_times,result,status,
        enable,update_time,create_time
    </sql>
</mapper>
