<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.mail.chronos.portal.mapper.support.SpRemindTaskInfoMapper">


    <delete id="deleteTaskByCompId">
        delete
        from sp_remind_task_info
        where id in (
            select id
            from sp_remind_task_info
            where comp_id = #{compId}
            order by id
        )
    </delete>
    
    <select id="selectIdListByCompId" resultType="java.lang.Long">
        select id
        from sp_remind_task_info
        where comp_id = #{compId}
    </select>
</mapper>
